name: Build and push container image
on:
  push:

env:
  IMAGE_NAME: pingora-reverse-proxy

permissions:
  pages: write
  contents: write
  packages: write
  id-token: write

jobs:
  build-and-push-container-image:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Build image
        run: docker build . --file Dockerfile --tag $IMAGE_NAME --label "runnumber=${GITHUB_RUN_ID}"

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

      - name: Push image
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          VERSION=latest
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION

  deploy-github-pages:
    runs-on: ubuntu-24.04
    needs: build-and-push-container-image
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: tar & index helm chart
        run: |
          helm package ./helm-chart
          helm repo index .

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

